/* .form-controls {
  margin: 0.5rem 0rem;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
}

.form-control label {
  font-weight: bold;
}

.form-control input {
  width: 90%;
  max-width: 40rem;
} */

.form-controls label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-controls input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.form-controls input:focus {
  outline: none;
  border-color: #4f005f;
}

.inputCard {
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}
